<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="form-group formGroups beerForm">
    <label class="labelStyle" for="city-name">What is the name of your City (Texas)?</label>
    <input type="text" class="form-control" id="city-name-input" placeholder="City Name">
  </div>
 
  <div class="form-group">
    <button class="btn btn-primary" id="brew-form-submit">Submit</button>
  </div> 
   <div id="map"></div>
   <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKoOMC01zLZJrIoXWOagCYGODh9CAH4_Q&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
<ul class="list-unstyled row  " id="brew">

</ul>
</div>
