
  <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/brewery">Breweries</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a> 
                </li>
            </ul>
        </div>
    </div>
    </nav>

      <h1>Local Hops Profile Page!!</h1>

<h2>Favorites!</h2>

{{#each breweries}}
<br>
<h3>{{name}}</h3>
<h3>{{city}}</h3>
<h3>{{address}}</h3>
<h3>{{phonenumber}}</h3>
{{/each}}